html
    head
        title CCLR6 - #{title}
        meta(name="color-scheme" content="only")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="styles/email.css", data-inline)
        link(rel="shortcut icon" type="image/x-icon" href="assets/ccl-logo-leaf-red.svg")
    block scripts
    body
        table(id="main")
            tbody
                tr
                    td(id="bg" bgcolor="#0F172A" class="darkmode")
                        table(id="innermain")
                            tbody
                                tr
                                    td(align="center")
                                        table
                                            tbody
                                                tr
                                                    td(id="logo" align="center")
                                                        img(src="assets/ccl-logo-leaf-white.svg" width=100 alt="logo")
                                                        div CCL R6
                                        table(id="content" cellpadding=0 cellspacing=0 border=0 bgcolor="#ffffff")
                                            tbody
                                                tr
                                                    td(height=40)
                                                tr
                                                    td(class="content" colspan=2 valign="top" align="center" )
                                                        table(width="100%" cellpadding=0 cellspacing=0 border=0 bgcolor="#FFFFFF")
                                                            tbody
                                                                block content
                                                tr
                                                    td(height=40)
                                        table(id="footer")
                                            tbody
                                                tr
                                                    td(height=20)
                                                tr
                                                    td(id="footer-links" align="center")
                                                        a.link-button(href=`${website}` target='_blank' rel='noopener')
                                                            svg(xmlns="http://www.w3.org/2000/svg" width="15" style="top: 1px;" viewBox="0 0 512 512")
                                                                g(style="fill: #e50a25;")
                                                                    path(d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z")
                                                        a.link-button(href=`${twitter}` target='_blank' rel='noopener')
                                                            svg(xmlns="http://www.w3.org/2000/svg" width="15" style="top: 1px;" viewBox="0 0 512 512")
                                                                g(style="fill: #e50a25;")
                                                                    path(d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z")
                                                        a.link-button(href=`${twitch}` target='_blank' rel='noopener')
                                                            svg(xmlns="http://www.w3.org/2000/svg" width="15" style="top: 1px;" viewBox="0 0 512 512")
                                                                g(style="fill: #e50a25;")
                                                                    path(d="M391.17,103.47H352.54v109.7h38.63ZM285,103H246.37V212.75H285ZM120.83,0,24.31,91.42V420.58H140.14V512l96.53-91.42h77.25L487.69,256V0ZM449.07,237.75l-77.22,73.12H294.61l-67.6,64v-64H140.14V36.58H449.07Z")
                                                        a.link-button(href=`${discord}` target='_blank' rel='noopener')
                                                            svg(xmlns="http://www.w3.org/2000/svg" width="15" style="top: 1px;" viewBox="0 0 512 512")
                                                                g(style="fill: #e50a25;")
                                                                    path(d="M297.216 243.2c0 15.616-11.52 28.416-26.112 28.416-14.336 0-26.112-12.8-26.112-28.416s11.52-28.416 26.112-28.416c14.592 0 26.112 12.8 26.112 28.416zm-119.552-28.416c-14.592 0-26.112 12.8-26.112 28.416s11.776 28.416 26.112 28.416c14.592 0 26.112-12.8 26.112-28.416.256-15.616-11.52-28.416-26.112-28.416zM448 52.736V512c-64.494-56.994-43.868-38.128-118.784-107.776l13.568 47.36H52.48C23.552 451.584 0 428.032 0 398.848V52.736C0 23.552 23.552 0 52.48 0h343.04C424.448 0 448 23.552 448 52.736zm-72.96 242.688c0-82.432-36.864-149.248-36.864-149.248-36.864-27.648-71.936-26.88-71.936-26.88l-3.584 4.096c43.52 13.312 63.744 32.512 63.744 32.512-60.811-33.329-132.244-33.335-191.232-7.424-9.472 4.352-15.104 7.424-15.104 7.424s21.248-20.224 67.328-33.536l-2.56-3.072s-35.072-.768-71.936 26.88c0 0-36.864 66.816-36.864 149.248 0 0 21.504 37.12 78.08 38.912 0 0 9.472-11.52 17.152-21.248-32.512-9.728-44.8-30.208-44.8-30.208 3.766 2.636 9.976 6.053 10.496 6.4 43.21 24.198 104.588 32.126 159.744 8.96 8.96-3.328 18.944-8.192 29.44-15.104 0 0-12.8 20.992-46.336 30.464 7.68 9.728 16.896 20.736 16.896 20.736 56.576-1.792 78.336-38.912 78.336-38.912z")
                                                        a.link-button(href=`mailto:${contact_email}` target='_blank' rel='noopener')
                                                            svg(xmlns="http://www.w3.org/2000/svg" width="15" style="top: 1px;" viewBox="0 0 512 512")
                                                                g(style="fill: #e50a25;")
                                                                    path(d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z")
                                                tr
                                                    td(height=10)
                                                tr
                                                    td(align="center")
                                                        p.signature CCLR6 #{year}